@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans:700&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
  color: #243976;
  background-color: #fff;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: all 0.3s ease;
}

._block {
  overflow-y: hidden;
}
._block::after {
  z-index: 700;
  opacity: 1;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.section__title {
  font-family: "Balsamiq Sans";
  font-size: calc(32px + 26 * ((100vw - 320px) / 850));
  font-weight: 700;
  line-height: 103.2%;
  text-align: center;
  color: #243976;
}
.section__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 157%;
  color: #243976;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 270px;
  height: 70px;
  border-radius: 90px;
  padding: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 118.2%;
  text-align: center;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
}

.header {
  position: relative;
  top: 0;
  z-index: 10000;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.header__content {
  position: relative;
  top: 80px;
}
.header__content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0px 30px 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #eff2fd;
}
.header__content_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0px 0px 10px 0px;
}
.header__logo {
  max-width: 235px;
  padding: 0px 10px 0px 0px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__connect {
  display: flex;
  align-items: center;
}
.header__connect_btn {
  width: 220px;
  height: 60px;
  font-size: 11px;
}
.header__tel {
  margin: 0px 30px 0px 0px;
  font-size: 20px;
  line-height: 118.2%;
  color: #243976;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.header__link {
  font-size: 14px;
  color: inherit;
}
.header__user {
  text-align: right;
}
.header__user_link {
  font-size: 14px;
  color: inherit;
  position: relative;
}
.header__user_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/header-user.svg") center/contain no-repeat;
}

.top-header-content {
  position: fixed;
  top: 10px;
  z-index: 1000;
  width: 100%;
}
.top-header-content__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-header-content {
  display: flex;
  align-items: center;
  height: 40px;
}
.bottom-header-content__btn {
  width: 130px;
  height: 30px;
  padding: 5px;
  font-size: 11px;
  line-height: 1;
  background-image: linear-gradient(350deg, rgb(66, 113, 223) 32%, rgb(120, 156, 241) 100%);
  box-shadow: none;
  transition: all 0.2s ease;
}
.bottom-header-content__btn:not(:last-child) {
  margin: 0px 15px 0px 0px;
}
.bottom-header-content__btn:hover {
  height: 40px;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
}

.menu-icon {
  display: none;
  position: relative;
  top: 0;
  right: 40px;
  width: 17px;
  height: 14px;
  cursor: pointer;
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
}
.menu-icon::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -13px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
}
.menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform-origin: top;
  transition: all 0.3s ease;
}
.menu-icon span:nth-child(1), .menu-icon span:nth-child(3) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-icon span:nth-child(1) {
  top: 1px;
}
.menu-icon span:nth-child(3) {
  top: 13px;
}
.menu-icon._active span {
  border-radius: 5px;
}
.menu-icon._active span:nth-child(1) {
  left: 1px;
  transform: rotate(45deg) translate(4px, 4px);
}
.menu-icon._active span:nth-child(2) {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}
.menu-icon._active span:nth-child(3) {
  left: 0px;
  transform: rotate(-45deg) translate(4px, -5px);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  z-index: 900;
  width: 100%;
  height: 430px;
  padding: 60px 0px 0px 0px;
  background-color: #eff2fd;
  box-shadow: 0px 10px 10px rgba(30, 35, 66, 0.6);
  border-radius: 0px 0px 15px 15px;
  transition: all 0.6s ease;
  transform-origin: top;
  transform: translateY(-150%);
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
.mobile-menu__item:not(:last-child) {
  margin: 0px 0px 0px 0px;
}
.mobile-menu__link {
  font-size: 16px;
  font-weight: 700;
}
.mobile-menu__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__user_link {
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 30px 0px;
  font-weight: 700;
}
.mobile-menu__user_link::before {
  left: -10px;
}
.mobile-menu__tel {
  padding: 0;
  margin: 0;
}
.mobile-menu._active {
  transform: translateY(-49px);
}

@media (max-width: 999.99px) {
  .header__content_bottom {
    margin-bottom: 50px;
  }
}
@media (max-width: 766.99px) {
  .header {
    position: fixed;
    height: 60px;
    padding: 0;
  }
  .header__logo {
    width: 170px;
  }
  .header__content_middle, .header__content_bottom,
.header__content .header__connect {
    display: none;
  }
  .header__content_top {
    top: 0;
    padding: 5px 0px 10px 0px;
    background-color: inherit;
    border-bottom: none;
  }
  .menu-icon {
    display: block;
  }
  .mobile-menu {
    display: flex;
  }
  .mobile-menu::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: rgba(197, 207, 243, 0.7);
  }
}
.intro {
  min-height: 630px;
  padding: 70px 0px 50px 0px;
  background: url("../img/intro-bg.jpg") center/cover no-repeat;
}
.intro__content-img {
  display: none;
}
.intro__content-img img {
  width: 100%;
  height: 100%;
}
.intro__descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__descr_img {
  flex: 1 1 500px;
}
.intro__descr_img img {
  width: 100%;
}
.intro__title {
  max-width: 740px;
  text-align: left;
}
.intro__title span {
  display: block;
  color: #49b3f7;
}
.intro__text {
  max-width: 440px;
  margin: 0px 0px 35px 0px;
  font-size: 17px;
  line-height: 165.2%;
}
.intro__text span {
  display: block;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
.intro__btn {
  position: relative;
  margin: 0px 0px 20px 0px;
}
.intro__btn::after {
  content: "";
  position: absolute;
  top: -25px;
  right: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/icons/round-arrow.png") center/contain no-repeat;
}
.intro__social {
  display: flex;
  align-items: center;
}
.intro__social span {
  margin: 0px 15px 0px 0px;
}

.social__tg,
.social__wa {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s ease;
}
.social__tg:hover,
.social__wa:hover {
  transform: scale(1.15);
}

.social__tg {
  margin: 0px 15px 0px 0px;
  background: url("../img/icons/social/tg.png") center/cover no-repeat;
}
.social__wa {
  background: url("../img/icons/social/wa.png") center/cover no-repeat;
}

@media (max-width: 999.99px) {
  .intro {
    background: url("../img/intro-mob-bg.jpg") center/cover no-repeat;
  }
  .intro__content-img {
    display: block;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .intro__descr {
    justify-content: center;
  }
  .intro__descr_content {
    text-align: center;
  }
  .intro__descr_img {
    display: none;
  }
  .intro__title {
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .intro__text {
    max-width: 560px;
    margin-bottom: 30px;
  }
  .intro__btn::after {
    display: none;
  }
  .intro__social {
    justify-content: center;
  }
}
.about-first {
  padding: 60px 0px 80px 0px;
}
.about-first__title {
  margin: 0px 0px 60px 0px;
  font-size: calc(20px + 12 * ((100vw - 320px) / 850));
  text-align: left;
}
.about-first__for-who, .about-first__discount, .about-first__lessons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-first__for-who {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 90px;
}
.for-who__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.for-who__img {
  margin-bottom: 30px;
}
.for-who__descr {
  max-width: 150px;
  text-align: center;
}

.discount {
  justify-content: flex-end;
  position: relative;
  height: 160px;
  border-radius: 25px;
  margin-bottom: 80px;
  padding: 22px 45px;
  background-color: #eff2fd;
}
.discount__inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.discount__img {
  position: absolute;
  top: -65px;
  left: 40px;
}
.discount__content {
  margin-right: 40px;
}
.discount__title {
  margin-bottom: 5px;
  font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  text-align: left;
}
.discount__text {
  max-width: 500px;
}
.discount__text_mob {
  display: none;
}
.discount__btn {
  margin-bottom: 10px;
}

.lessons {
  position: relative;
  min-height: 465px;
}
.lessons::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 110px;
  width: 80%;
  height: 100%;
  background: url("../img/lessons/lessons-lines.png") center/contain no-repeat;
}
.lessons__item {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.lessons__item:nth-child(2n) {
  flex-direction: column-reverse;
}
.lessons__item:nth-child(2n) .lessons__img {
  margin-bottom: 0;
  margin-top: 60px;
}
.lessons__img {
  position: relative;
  z-index: 2;
  width: auto;
  margin-bottom: 60px;
}
.lessons__img img {
  width: 100%;
}
.lessons__content {
  width: 110%;
}
.lessons__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
}
.lessons__descr {
  font-size: 13px;
}

@media (max-width: 1069.99px) {
  .discount {
    height: 270px;
  }
  .discount__img {
    width: 170px;
    top: -15px;
  }
  .discount__img img {
    width: 100%;
    height: 100%;
  }
  .discount__inner {
    flex-direction: column;
    align-items: baseline;
    max-width: 480px;
    margin-left: auto;
    margin-right: 0;
  }
  .discount__content {
    margin-right: 0;
  }
  .discount__title {
    margin-bottom: 10px;
  }
  .discount__text {
    margin-bottom: 15px;
  }
  .discount__btn {
    height: 60px;
  }
  .about-first__title {
    text-align: center;
  }
  .lessons {
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .lessons::before {
    display: none;
  }
  .lessons__item {
    align-items: center;
    width: 50%;
  }
  .lessons__item:nth-child(2n) {
    flex-direction: column;
  }
  .lessons__item:nth-child(2n) .lessons__img {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .lessons__img {
    max-width: 170px;
    margin-bottom: 30px;
  }
  .lessons__content {
    max-width: 270px;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 999.99px) {
  .for-who {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    max-width: 100%;
  }
  .for-who__item {
    width: 30%;
  }
}
@media (max-width: 766.99px) {
  .about-first__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .for-who {
    flex-direction: column;
    row-gap: 40px;
  }
  .for-who__item {
    flex-direction: row;
    justify-content: center;
    max-width: 320px;
    width: 100%;
    padding: 0 10px;
  }
  .for-who__descr {
    max-width: 120px;
    text-align: left;
  }
  .for-who__img {
    margin: 0;
    margin-right: 30px;
  }
  .discount {
    max-width: none;
    width: 100%;
    height: auto;
  }
  .discount__inner {
    max-width: none;
    width: 100%;
    align-items: center;
  }
  .discount__img_pc {
    display: none;
  }
  .discount__img_mob {
    position: static;
    top: 0;
    left: 0;
    display: block;
    max-width: 95px;
    width: 100%;
  }
  .discount__content {
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
  }
  .discount__content_text {
    max-width: 260px;
    width: 100%;
  }
  .discount__title {
    margin-bottom: 20px;
  }
  .discount__text {
    margin-bottom: 0px;
  }
  .discount__btn {
    height: 70px;
  }
  .lessons {
    flex-direction: column;
  }
  .lessons__item {
    width: 100%;
  }
  .lessons__content {
    max-width: 320px;
  }
}
@media (max-width: 499.99px) {
  .discount {
    padding: 30px 20px;
  }
  .discount__content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .discount__title {
    max-width: 240px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
  .discount__text {
    margin-bottom: 15px;
    text-align: center;
  }
  .discount__img {
    width: 85px;
  }
}
.becouse {
  padding: 60px 0;
  background-color: #eff2fd;
}
.becouse__title {
  margin-bottom: 60px;
  font-size: calc(20px + 12 * ((100vw - 320px) / 850));
  text-align: left;
}
.becouse__content {
  position: relative;
  margin-bottom: 25px;
}
.becouse__content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  max-width: 600px;
  max-height: 390px;
  width: 100%;
  height: 100%;
  background: url("../img/like-us-beacouse-bg.png") center/cover no-repeat;
}
.becouse__img-block {
  display: none;
}
.becouse__item {
  border-radius: 25px;
  transition: all 0.3s ease;
}
.becouse__item:not(:last-child) {
  margin-bottom: 25px;
}
.becouse__item:hover {
  background-color: #fff;
  box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
}

.item-becouse {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  column-gap: 15px;
  max-width: 560px;
  padding: 15px 20px;
}
.item-becouse__img {
  width: 45px;
}
.item-becouse__title {
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: calc(15px + 5 * ((100vw - 320px) / 850));
  font-weight: 500;
  text-align: left;
}
.item-becouse__text {
  max-width: 390px;
  width: 100%;
  font-size: calc(14px + 1 * ((100vw - 320px) / 850));
  text-align: left;
  line-height: 1.3;
}

@media (max-width: 1099.99px) {
  .becouse__content::after {
    top: auto;
    bottom: 100px;
    max-width: 480px;
    max-height: 310px;
  }
}
@media (max-width: 999.99px) {
  .becouse-social-block {
    max-width: 270px;
  }
  .becouse__btn::after {
    display: block;
  }
  .item-becouse__text {
    width: 90%;
  }
}
@media (max-width: 929.99px) {
  .becouse__title {
    margin-bottom: 40px;
    text-align: center;
  }
  .becouse__content {
    margin-bottom: 0;
  }
  .becouse__content::after {
    max-width: 320px;
    max-height: 200px;
  }
  .item-becouse {
    max-width: 700px;
  }
  .item-becouse:nth-child(4) {
    max-width: 440px;
  }
  .item-becouse__text {
    max-width: 700px;
    width: 100%;
  }
}
@media (max-width: 766.99px) {
  .becouse__content::after {
    display: none;
  }
  .becouse__item {
    max-width: none;
    width: 100%;
  }
  .becouse__item:nth-child(4) {
    max-width: inherit;
    width: inherit;
    margin-bottom: 40px;
  }
  .becouse__img-block {
    display: block;
    max-width: 380px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .becouse__img-block img {
    width: 100%;
    height: 100%;
  }
  .becouse__btn::after {
    display: none;
  }
  .becouse-social-block {
    margin: 0 auto;
  }
}
.about-second {
  padding: 80px 0;
}
.about-second .discount {
  margin-bottom: 0;
}

.comparison {
  margin-bottom: 80px;
}
.comparison__title {
  margin-bottom: 60px;
  font-size: calc(26px + 6 * ((100vw - 320px) / 850));
}
.comparison__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparison__img {
  flex: 0 0 auto;
  width: 320px;
  height: 300px;
}
.comparison__img-left {
  margin-right: 15px;
}
.comparison__img-right {
  margin-left: 15px;
}
.comparison__img img {
  width: 100%;
}
.comparison__card {
  flex: 0 0 auto;
  position: relative;
  z-index: 5;
  padding: 40px;
  border-radius: 15px;
}
.comparison__card:nth-child(2) {
  width: 340px;
  background: linear-gradient(180deg, #eff2fd 0%, #fcfcfc 100%);
  filter: drop-shadow(3.90651px 11.7195px 31.2521px rgba(30, 35, 66, 0.25));
}
.comparison__card:nth-child(3) {
  width: 340px;
  transform: scale(1.05);
  background-image: linear-gradient(350deg, rgb(66, 113, 223) 32%, rgb(120, 156, 241) 100%);
  filter: drop-shadow(4px 12px 20px rgba(30, 35, 66, 0.25));
  color: #fff;
}
.comparison__card:nth-child(3) .comparison__card-title {
  color: inherit;
}
.comparison__card:nth-child(3) .comparison__item::before {
  background-color: #fff;
}
.comparison__card-title {
  margin-bottom: 30px;
  font-size: calc(18px + 6 * ((100vw - 320px) / 850));
}
.comparison__item {
  position: relative;
  padding: 0px 0px 0px 40px;
  font-size: calc(14px + 2 * ((100vw - 320px) / 850));
  line-height: 1.5;
}
.comparison__item:not(:last-child) {
  margin-bottom: 15px;
}
.comparison__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #243976;
  transform: translateY(-50%);
}
.comparison__item span {
  display: block;
  font-weight: 700;
}

.online-school-it {
  margin-bottom: 75px;
}
.online-school-it__title {
  margin-bottom: 60px;
  font-size: calc(26px + 6 * ((100vw - 320px) / 850));
}
.online-school-it__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 80px;
}
.online-school-it__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 29%;
}
.online-school-it__img {
  max-width: 167px;
  max-height: 167px;
  margin-bottom: 30px;
}
.online-school-it__img img {
  width: 100%;
  height: 100%;
}
.online-school-it__item-title {
  margin-bottom: 15px;
  font-size: calc(18px + 2 * ((100vw - 320px) / 850));
  text-align: center;
  line-height: 1;
}
.online-school-it__item-text {
  max-width: 260px;
  font-size: calc(14px + 1 * ((100vw - 320px) / 850));
  text-align: center;
  line-height: 1.5;
}

@media (max-width: 1374.99px) {
  .comparison__img-left {
    transform: translateX(100px);
  }
  .comparison__img-right {
    transform: translateX(-100px);
  }
}
@media (max-width: 1164.99px) {
  .comparison__img {
    width: 230px;
    height: 210px;
  }
  .comparison__img-left {
    align-self: start;
    transform: translateX(90px);
  }
  .comparison__img-right {
    align-self: end;
    transform: translateX(-90px);
  }
  .comparison__card:nth-child(2) {
    left: 10px;
    width: 310px;
  }
  .comparison__card:nth-child(3) {
    right: 10px;
    width: 310px;
  }
}
@media (max-width: 999.99px) {
  .comparison__img {
    display: none;
  }
  .online-school-it__item {
    width: 45%;
  }
}
@media (max-width: 766.99px) {
  .about-second {
    padding: 50px 0;
  }
  .comparison {
    margin-bottom: 50px;
  }
  .comparison__title {
    margin-bottom: 30px;
    text-align: left;
  }
  .comparison__inner {
    flex-direction: column;
  }
  .comparison__card:nth-child(2) {
    left: 0;
    max-width: 320px;
    width: 100%;
  }
  .comparison__card:nth-child(3) {
    right: 0;
    max-width: 340px;
    width: 100%;
  }
  .online-school-it {
    margin-bottom: 50px;
  }
  .online-school-it__title {
    margin-bottom: 30px;
  }
  .online-school-it__inner {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
  .online-school-it__item {
    max-width: none;
    width: 100%;
  }
}
.cost {
  padding: 60px 0px 0px 0px;
  padding-bottom: 80px;
  background-color: #eff2fd;
}
.cost__title {
  margin-bottom: 140px;
  font-size: calc(26px + 6 * ((100vw - 320px) / 850));
}
.cost__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
  padding: 0px 50px 0px 0px;
}
.cost__card {
  position: relative;
  width: 300px;
  border-radius: 25px 25px 0 50px;
  padding: 50px 10px 30px 25px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cost__price {
  position: absolute;
  top: -80px;
  right: -23px;
  z-index: 2;
  width: 250px;
  height: 100px;
  padding: 15px;
  border-radius: 25px;
  font-size: calc(18px + 8 * ((100vw - 320px) / 850));
  line-height: 2;
  font-weight: 500;
}
.cost__price span {
  font-weight: 400;
  font-size: 14px;
}
.cost__card-title {
  font-family: "Ubuntu", sans-serif;
  font-size: calc(18px + 6 * ((100vw - 320px) / 850));
  font-weight: 500;
  text-align: left;
}
.cost__card-text {
  max-width: 200px;
  margin-bottom: 20px;
  font-size: calc(15px + 1 * ((100vw - 320px) / 850));
  background-color: #49b3f7;
  background-image: linear-gradient(350deg, rgb(66, 113, 223) 32%, rgb(120, 156, 241) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cost__list {
  max-width: 190px;
  margin-bottom: 20px;
}
.cost__item {
  position: relative;
  padding: 0px 0px 0px 34px;
  font-size: 14px;
}
.cost__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  transform: translateY(-50%);
  background: url("../../img/icons/check.png") center/contain no-repeat;
  overflow: hidden;
}
.cost__item:not(:last-child) {
  margin-bottom: 20px;
}
.cost__card-img {
  position: absolute;
  bottom: 0;
  right: -45px;
  z-index: 2;
}
.cost__card-img img {
  width: 100%;
  height: 100%;
}
.cost__card-btn {
  width: 160px;
  height: 30px;
  margin-left: 50%;
  transform: translateX(-50%);
  background-image: linear-gradient(350deg, rgb(66, 113, 223) 32%, rgb(120, 156, 241) 100%);
  font-weight: 400;
  line-height: 0;
  color: #fff;
  text-transform: capitalize;
}

@media (max-width: 1119.99px) {
  .cost__inner {
    column-gap: 20px;
    padding: 0px 40px 0px 0px;
  }
  .cost__card {
    width: 320px;
  }
  .cost__card-img {
    right: -35px;
    max-width: 110px;
  }
  .cost__price {
    width: 220px;
    height: 80px;
    top: -60px;
    right: -20px;
    line-height: 2;
  }
}
@media (max-width: 999.99px) {
  .cost__title {
    margin-bottom: 100px;
  }
  .cost__inner {
    flex-wrap: wrap;
    row-gap: 120px;
    justify-content: space-around;
  }
}
@media (max-width: 766.99px) {
  .cost__inner {
    flex-direction: column;
    padding: 0;
  }
  .cost__card-img {
    right: -25px;
    max-width: 90px;
  }
}
@media (max-width: 399.99px) {
  .cost__inner {
    padding: 0px 20px 0px 0px;
  }
  .cost__card {
    width: 100%;
  }
  .cost__price {
    top: -50px;
    width: 200px;
    height: 70px;
  }
}
@media (max-width: 1199.99px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.99px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 766.99px) {
  .container {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */