@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:regular,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Balsamiq+Sans:700&display=swap");
body {
  font-family: "GothamPro", sans-serif;
  font-size: 15px;
  line-height: 1.3;
  font-weight: 400;
  color: #243976;
  background-color: #fff;
}

.wrapper {
  min-height: 100vh;
  overflow-x: hidden;
}

.section__title {
  font-family: "Balsamiq Sans";
  font-size: 84px;
  font-weight: 700;
  line-height: 103.2%;
  text-align: center;
  color: #243976;
}
.section__text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 157%;
  color: #243976;
}

[class*=__container] {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  width: 270px;
  height: 70px;
  border-radius: 90px;
  padding: 20px;
  font-weight: 700;
  font-size: 12px;
  line-height: 118.2%;
  text-align: center;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
}

.header {
  position: relative;
  top: 0;
  z-index: 10000;
  width: 100%;
  padding: 15px 0px 15px 0px;
}
.header__content {
  position: relative;
  top: 80px;
}
.header__content_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0px 30px 10px 0px;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid #eff2fd;
}
.header__content_middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  margin: 0px 0px 10px 0px;
}
.header__logo {
  max-width: 235px;
  padding: 0px 10px 0px 0px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
}
.header__connect {
  display: flex;
  align-items: center;
}
.header__connect_btn {
  width: 220px;
  height: 60px;
  font-size: 11px;
}
.header__tel {
  margin: 0px 30px 0px 0px;
  font-size: 20px;
  line-height: 118.2%;
  color: #243976;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__item:not(:last-child) {
  margin: 0px 30px 0px 0px;
}
.header__link {
  font-size: 14px;
  color: inherit;
}
.header__user {
  text-align: right;
}
.header__user_link {
  font-size: 14px;
  color: inherit;
  position: relative;
}
.header__user_link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 18px;
  height: 18px;
  background: url("../img/icons/header-user.svg") center/contain no-repeat;
}

.top-header-content {
  position: fixed;
  top: 10px;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
}
.top-header-content__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-header-content {
  display: flex;
  align-items: center;
  height: 40px;
}
.bottom-header-content__btn {
  width: 130px;
  height: 30px;
  padding: 5px;
  font-size: 11px;
  line-height: 1;
  background-image: linear-gradient(350deg, rgb(66, 113, 223) 32%, rgb(120, 156, 241) 100%);
  box-shadow: none;
  transition: all 0.2s ease;
}
.bottom-header-content__btn:not(:last-child) {
  margin: 0px 15px 0px 0px;
}
.bottom-header-content__btn:hover {
  height: 40px;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
}

.menu-icon {
  display: none;
  position: relative;
  top: 0;
  right: 40px;
  width: 17px;
  height: 14px;
  cursor: pointer;
  box-shadow: 0px 6px 21px rgba(104, 130, 245, 0.67);
}
.menu-icon::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -13px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-image: linear-gradient(315deg, rgb(134, 79, 241) 0%, rgb(73, 179, 247) 100%);
}
.menu-icon span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform-origin: top;
  transition: all 0.3s ease;
}
.menu-icon span:nth-child(1), .menu-icon span:nth-child(3) {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.menu-icon span:nth-child(1) {
  top: 1px;
}
.menu-icon span:nth-child(3) {
  top: 13px;
}
.menu-icon._active span {
  border-radius: 5px;
}
.menu-icon._active span:nth-child(1) {
  left: 1px;
  transform: rotate(45deg) translate(4px, 4px);
}
.menu-icon._active span:nth-child(2) {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}
.menu-icon._active span:nth-child(3) {
  left: 0px;
  transform: rotate(-45deg) translate(4px, -5px);
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 100%;
  height: 430px;
  padding: 60px 0px 0px 0px;
  background-color: #eff2fd;
  box-shadow: 0px 10px 10px rgba(30, 35, 66, 0.6);
  border-radius: 0px 0px 15px 15px;
  transition: all 0.6s ease;
  transform-origin: top;
  transform: translateY(-150%);
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  margin: 0px 0px 40px 0px;
  text-align: center;
}
.mobile-menu__item:not(:last-child) {
  margin: 0px 0px 0px 0px;
}
.mobile-menu__link {
  font-size: 16px;
  font-weight: 700;
}
.mobile-menu__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile-menu__user_link {
  padding: 0px 0px 0px 15px;
  margin: 0px 0px 30px 0px;
  font-weight: 700;
}
.mobile-menu__user_link::before {
  left: -10px;
}
.mobile-menu__tel {
  padding: 0;
  margin: 0;
}
.mobile-menu._active {
  transform: translateY(-49px);
}

@media (max-width: 999.99px) {
  .header__content_bottom {
    margin-bottom: 50px;
  }
}
@media (max-width: 766.99px) {
  .header {
    position: fixed;
    height: 60px;
    padding: 0;
  }
  .header__logo {
    width: 170px;
  }
  .header__content_middle, .header__content_bottom,
.header__content .header__connect {
    display: none;
  }
  .header__content_top {
    top: 0;
    padding: 5px 0px 10px 0px;
    background-color: inherit;
    border-bottom: none;
  }
  .menu-icon {
    display: block;
  }
  .mobile-menu {
    display: flex;
  }
  .mobile-menu::before {
    content: "";
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background-color: rgba(197, 207, 243, 0.7);
  }
}
.intro {
  min-height: 630px;
  padding: 70px 0px 50px 0px;
  background: url("../img/intro-bg.jpg") center/cover no-repeat;
}
.intro__content-img {
  display: none;
}
.intro__content-img img {
  width: 100%;
  height: 100%;
}
.intro__descr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__descr_img {
  flex: 1 1 500px;
}
.intro__descr_img img {
  width: 100%;
}
.intro__title {
  max-width: 740px;
  font-size: calc(32px + 26 * ((100vw - 320px) / 850));
  text-align: left;
}
.intro__title span {
  display: block;
  color: #49B3F7;
}
.intro__text {
  max-width: 440px;
  margin: 0px 0px 35px 0px;
  font-size: 17px;
  line-height: 165.2%;
}
.intro__text span {
  display: block;
  margin: 20px 0px 0px 0px;
  font-weight: 700;
}
.intro__btn {
  position: relative;
  margin: 0px 0px 20px 0px;
}
.intro__btn::after {
  content: "";
  position: absolute;
  top: -25px;
  right: -55px;
  width: 50px;
  height: 50px;
  background: url("../img/icons/round-arrow.png") center/contain no-repeat;
}
.intro__social {
  display: flex;
  align-items: center;
}
.intro__social span {
  margin: 0px 15px 0px 0px;
}

.social__tg,
.social__wa {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.2s ease;
}
.social__tg:hover,
.social__wa:hover {
  transform: scale(1.15);
}

.social__tg {
  margin: 0px 15px 0px 0px;
  background: url("../img/icons/social/tg.png") center/cover no-repeat;
}
.social__wa {
  background: url("../img/icons/social/wa.png") center/cover no-repeat;
}

@media (max-width: 999.99px) {
  .intro {
    background: url("../img/intro-mob-bg.jpg") center/cover no-repeat;
  }
  .intro__content-img {
    display: block;
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .intro__descr {
    justify-content: center;
  }
  .intro__descr_content {
    text-align: center;
  }
  .intro__descr_img {
    display: none;
  }
  .intro__title {
    max-width: 530px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .intro__text {
    max-width: 560px;
    margin-bottom: 30px;
  }
  .intro__btn::after {
    display: none;
  }
  .intro__social {
    justify-content: center;
  }
}
@media (max-width: 1199.99px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 991.99px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 766.99px) {
  .container {
    max-width: none;
  }
}/*# sourceMappingURL=style.css.map */